@import url('https://fonts.googleapis.com/css?family=Cormorant');

* {
    margin: 0;
    padding: 0;
    cursor: default;


    -webkit-touch-callout: none; /* iOS Safari */
    -webkit-user-select: none; /* Safari */
    -khtml-user-select: none; /* Konqueror HTML */
    -moz-user-select: none; /* Firefox */
    -ms-user-select: none; /* Internet Explorer/Edge */
    user-select: none; /* Non-prefixed version, currently supported by Chrome and Opera */
}

html {

}

body {
}

.container-fluid {
    text-align: center;
}

.row {
    height: 20%;
}

.row div {
    height: 100%;
}

p {
    opacity: 0;
    font-family: 'Cormorant', cursive;
    font-size: 40px;
}